.n8n/workflows/create-communication.json
{
  "name": "Create Communication",
  "nodes": [
    {
      "parameters": {
        "path": "create-communication",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "create-communication"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\nconst { \n  plan_id, \n  from_agent = 'claude',\n  to_agent = 'any',\n  type,\n  subject,\n  message,\n  created_by = 'claude'\n} = body;\n\nif (!plan_id) {\n  throw new Error('plan_id is required');\n}\n\nif (!type) {\n  throw new Error('type is required');\n}\n\nif (!subject) {\n  throw new Error('subject is required');\n}\n\nif (!message) {\n  throw new Error('message is required');\n}\n\nconst validTypes = ['guidance', 'question', 'response', 'decision', 'status', 'analysis', 'technique'];\nif (!validTypes.includes(type)) {\n  throw new Error(`Invalid type. Must be one of: ${validTypes.join(', ')}`);\n}\n\nreturn {\n  json: {\n    plan_id,\n    from_agent,\n    to_agent,\n    type,\n    subject,\n    message,\n    created_by\n  }\n};"
      },
      "id": "validate-comm",
      "name": "Validate Communication",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "plan_communications",
        "columns": "plan_id, from_agent, to_agent, type, subject, message, created_by",
        "options": {}
      },
      "id": "insert-comm",
      "name": "Insert Communication",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "mySql": {
          "name": "MySQL api_wf"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const comm = $('Validate Communication').item.json;\nconst insertResult = $input.item.json;\n\nreturn [{\n  json: {\n    success: true,\n    comm_id: insertResult.insertId || insertResult.id,\n    communication: {\n      plan_id: comm.plan_id,\n      from_agent: comm.from_agent,\n      to_agent: comm.to_agent,\n      type: comm.type,\n      subject: comm.subject\n    },\n    timestamp: comm.timestamp\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Communication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Communication": {
      "main": [
        [
          {
            "node": "Insert Communication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Communication": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
