.n8n/workflows/process-mysqldump.json
{
  "name": "Process Mysqldump",
  "nodes": [
    {
      "parameters": {
        "path": "process-mysqldump",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "authentication": "none",
        "responseData": "allEntries",
        "options": {
          "rawBody": false
        }
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "process-mysqldump"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "cronExpression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "Nightly Schedule",
      "name": "Nightly Schedule",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 180]
    },
    {
      "parameters": {
        "jsCode": "// Set default values for scheduled runs\nreturn [{ \n  json: { \n    schema: 'api_wf',\n    commitMessage: 'Automated nightly: update db DDL from mysqldump'\n  }\n}];"
      },
      "id": "Set Defaults",
      "name": "Set Defaults",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 180]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3010/api/mysqldump",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema",
              "value": "={{ $json.schema || 'api_wf' }}"
            }
          ]
        }
      },
      "id": "Dump Database",
      "name": "Dump Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 240]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3010/api/execute",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "={{ 'node /workspace/scripts/parse-dump.js /workspace/db/dump/' + ($json.schema || 'api_wf') + '/schema_complete.sql /workspace/sql/database/' + ($json.schema || 'api_wf') }}"
            }
          ]
        }
      },
      "id": "Parse Dump",
      "name": "Parse Dump",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 240]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3010/api/git/commit-push",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.commitMessage || 'Automated: update db DDL from mysqldump' }}"
            },
            {
              "name": "repoPath",
              "value": "/workspace"
            },
            {
              "name": "addPaths",
              "value": "={{ [\"sql/database\"] }}"
            }
          ]
        }
      },
      "id": "Git Commit & Push",
      "name": "Git Commit & Push",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 240]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, schema: $json.schema || 'api_wf', committed: true }}];"
      },
      "id": "Prepare Response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 240]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems"
      },
      "id": "Respond to Webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dump Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nightly Schedule": {
      "main": [
        [
          {
            "node": "Set Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Defaults": {
      "main": [
        [
          {
            "node": "Dump Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dump Database": {
      "main": [
        [
          {
            "node": "Parse Dump",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Dump": {
      "main": [
        [
          {
            "node": "Git Commit & Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Commit & Push": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
